@import url("estilos/header.css");
@import url('https://font.googleapis.com/css2?family=dosis:wght@200..800');
:root{
    --amarelo: #fffffff7; --fundo-azul: #23239de4;
    --lilas:#11e3eb;--fonte-projeto:"dosis";
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0;font-family: var(--fonte-projeto);
}