@import url("estilos/header.css");
@import url(https://lens.google.com/search?ep=gsbubb&hl=pt-BR&re=df&p=AbrfA8p6KERVtVL8xIBj-T5dpCpXCLWppBy8DgmZWGrPTZcLem6WSvDgtrZP52JfAm5nVcIdhPY6q0ox6zlQv-NXZDrS5L6DBUYL9QyjUlWPm1Wo16sDiBoJXB5zneMIO5FkzJoXf1f-Bv7GaXeDXFU2ZvkNp_WaAu5ThVApMrdFdjGeYYxNOK3Y4WtqC3lCL80aioJXKAoACf9uXA%3D%3D#lns=W251bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsIkVrY0tKRE5oWkdZMlpETXpMV0l4WVRRdE5HTXdOeTFpTVdRMUxXSXhOVFV4WVRkalptWTJOeElmYnpCNWJVTnRSMkoyVDFGVWMwZEZNRGhCY0VaUVRqaGlkbWxHT1VkNGF3PT0iLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsWyIwMWZmMzgzMy1kYTQ4LTRiNjktYjVlZS1lMTA3YzRlN2EzMTAiXV0=);
:root{
    --amarelo: #fffffff7; --fundo-azul: #23239de4;
    --lilas:#11e3eb;--fonte-projeto:"dosis";
}
body {
    background-color: rgba(243, 0, 0, 0.747);
    margin: 0;font-family: var(--fonte-projeto);
}