.cabecalho{
    background-color: var(--blue);
    margin: 0;
}
.container{
    display: flex; align-items: center;
}
.container__imagem{
    width: 120px;height: 120px;
}
.container_titulo, .container__imagem, .container_frase{
    padding: 0.1em; color: rgb(255, 0, 0);
}
.container_titulo, .container_frase{
    display: none;
}
.cx-texto{
    display: flex; justify-content: center;
}
.texto-mobile{
    display: block;font-size: 50px;
    margin-top: 3em;padding: 1em;
}
texto-desktop,texto-tablet{
    display: none;
}
@media screen and (min-width:820px) {
    .container_titulo{
        font-size: 30px;display:inline-block ;
} 
.container_titulo{
    font-weight: 400;
}
.texto-tablet{
display: block;font-size: 70px;color: #ffffff;
margin-top: 3em;padding: 1em;
}
.texto-desktop,.texto-mobile{
    display: none;
}
}
@media screen  and (min-width: 1728px){
    .container_frase{
        font-size: 50px;
        display: inline-block;
    }
    .container_frase{
        font-weight: 400;
        padding-left: 5em;
    }
    .texto-desktop{
        display: block;
        font-size: 90px;
        color: var(--lil as);
        margin-top: 3em;
        padding: 1em;
    }
    .texto-tablet,.texto-mobile{
        display: none;
    }
}